@charset "utf-8";
/**CSS Document*/

.logo{
    top: 0;
	position: fixed absolute;
	width: 100%;
	overflow: hidden;
	display: block;
	background-color: black;
    padding-top: 35px;
    
}

.logo_text{
    text-align: center;
	color: darkgray;
   
}

.logo_text button{
    border: none;
    outline: none;
    cursor: pointer;
	background: none;
	transition: 1s;
	color: darkgray;
	font-size: 55px;
	font-family: "Montserrat";
    position: center;
    text-align: center;
}

.logo_text a button:hover{
	color: gold;
	transition: 1s;
}

.tab{
    position: center;
    background-color: inherit;
    float: center;
    border-bottom: 0.5px solid gray;
    outline: none;
    cursor: pointer;
    font-size: 35px;
    padding-top: 45px;
    overflow: hidden;
}

.tab button{
    border: none;
    outline: none;
    cursor: pointer;
	background: none;
	color: darkgray;
	font-size: 25px;
    font-family: "Montserrat";
}

.tab button:hover{
    transition: 0.7s;
    color: gold;
}

.tab button:active{
    color: white;
}

.container{
	display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'content content content'
    'content content content';
    color: darkgray;
    font-size: 33px;
    text-align: center;
}

.content{
    font-family: "Montserrat";
    text-align: center;
}

.container-about{
	display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'portrait content-about portrait'
    'portrait content-about portrait';
    color: darkgray;
    font-size: 33px;
    text-align: left;
    margin-left: 55px;
}

.content-about{
    font-family: "Montserrat";
    font-size: 20px;
    float: left;
}

.container-gallery{
	display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'gallery gallery gallery'
    'gallery gallery gallery';
    color: darkgray;
    font-size: 33px;
    text-align: center;
}

.title{
	text-align: left;
	font-size: 35px;
	font-family: "Montserrat";
	color: darkgray;
}


.gallery img{
    max-inline-size: 55%;
    block-size: auto;
    padding: 36px;
    width: 230px;
    filter: grayscale(100%);
    transition: 0.5s;
    align-items: left;
}

.gallery img:hover{
    filter: none;
}

.content-contact{
    font-family: "Montserrat";
    text-align: left;
    margin-left: 55px;
}

.content-contact a{
    color: white;
    margin-bottom: none;
    font-size: 25px;
}
.container-project{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'project-page project-page project-page';
    color: darkgray;
    font-size: 33px;
    text-align: center;
}

.project-page img{
    max-inline-size: 55%; 
}

.project-page{
    font-family: 'Montserrat';
}

.project-gallery img{
    max-inline-size: 55%;
    block-size: auto;
    padding: 36px;
    width: 230px;
    transition: 0.5s;
    align-items: left;
}