@charset "utf-8";
/**CSS Document*/

.logo{
    top: 0;
	position: fixed absolute;
	width: 100%;
	overflow: hidden;
	display: block;
	background-color: black;
    padding-top: 35px;
    
}

.logo_text{
    text-align: center;
	color: white;
   
}

.logo_text button{
    border: none;
    outline: none;
    cursor: pointer;
	background: none;
	transition: 1s;
	color: white;
	font-size: 55px;
	font-family: "Montserrat";
    position: center;
    text-align: center;
}

.logo_text a button:hover{
	color: gold;
	transition: 1s;
}

.tab{
    position: center;
    background-color: inherit;
    float: center;
    border-bottom: 0.5px solid white;
    margin-left: 100px;
    margin-right: 100px;
    outline: none;
    cursor: pointer;
    font-size: 35px;
    padding-top: 45px;
    overflow: hidden;
}

.tab button{
    border: none;
    outline: none;
    cursor: pointer;
	background: none;
	color: white;
	font-size: 25px;
    font-family: "Montserrat";
}

.tab button:hover{
    transition: 0.7s;
    color: gold;
}

.tab button:active{
    color: white;
}

.container{
	display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'content content content'
    'content content content';
    color: darkgray;
    font-size: 33px;
    text-align: center;
}

.content{
    font-family: "Montserrat";
    text-align: center;
}

.content p{
    margin: 100px;
    color: white;
}

.container-about{
	display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'portrait content-about portrait'
    'portrait content-about portrait';
    color: darkgray;
    font-size: 33px;
    text-align: left;
    margin-left: 100px;
}

.content-about{
    font-family: "Montserrat";
    font-size: 20px;
    float: left;
    color: white;
}

.container-gallery{
	display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'gallery gallery gallery'
    'gallery gallery gallery';
    color: white;
    font-size: 33px;
    text-align: center;
    font-family: "Montserrat";
}

.title{
	text-align: left;
	font-size: 35px;
	font-family: "Montserrat";
	color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery{
    margin-left: 100px;
    margin-right: 100px;
    align-items: left;
}

.gallery img{
    float: left;
    max-block-size: 300px;
    object-fit: cover;
}

.content-statement{
    font-family: "Montserrat";
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

.content-statement img{
    align-items: center;
}

.content-statement p{
    font-size: 25px;
    font-family: "Montserrat";
    color: white;
}

.container-project{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'project-page project-page project-page';
    color: white;
    font-size: 33px;
    text-align: center;
}

.project-page img{
    max-inline-size: 55%; 
}

.project-page{
    font-family: 'Montserrat';
}

.project-gallery{
    margin-left: 100px;
    margin-right: 100px;
}

.project-gallery img{
    float: left;
    max-block-size: 200px;
    object-fit: contain;
}

.project-page p{
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.portrait img{
    float: right;
    max-inline-size: 50%;
    margin: 25px;
}

.hi img{
    float: right;
    max-inline-size: 50%;
    margin: 25px;
}
